@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
  width: calc(192px * 40); /* Increased width to accommodate more items */
}

/* Smooth transition for theme change */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Prevent scrolling when mobile menu is open */
body.overflow-hidden {
  overflow: hidden;
}

/* Ensure content is visible below the navbar */
main {
  padding-top: 5rem;
}
